<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48653451668-13p5aeh2jl3fjkpggqtuclgkijp380an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48653451668-13p5aeh2jl3fjkpggqtuclgkijp380an</string>
	<key>API_KEY</key>
	<string>AIzaSyCdr0-LEBsj_aEHmXrr75aqf1gqemVwmIE</string>
	<key>GCM_SENDER_ID</key>
	<string>48653451668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trials.SignInTrial</string>
	<key>PROJECT_ID</key>
	<string>signintrial-7d6b6</string>
	<key>STORAGE_BUCKET</key>
	<string>signintrial-7d6b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48653451668:ios:6fd258c77bb43086d74f81</string>
</dict>
</plist>