<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SignInTrial.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D8EFEA12C049D8400773273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D8EFEB72C049D8500773273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D8EFEC12C049D8500773273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
